.logoContainer{
    background-color: #222222;
    width: auto;
    height: 400px;
    }
    .logoParentRec{
    width: 100px;
    height: 300px;
    position: absolute;
    left: 48%;  
    top: -3%;
    transform: rotate(45deg);
    }
    .topChildRec{
      position: absolute;
      background-color: #F2994A;
      transform-origin: top left;  
      transform: rotate(90deg);
      left:50px ;
      top: 149px;
      width: 150px;
    height: 50px;
    border-bottom-right-radius: 30px;
    
    }
    .leftChildRec{
        position: absolute;
        background-color: #F2994A;
        transform-origin:bottom;  
        top: 250px;
        width: 120px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 30px;
    
      }
      .rightChildRec{
        position: absolute;
        background-color: #2D9CDB;
        transform-origin:top;  
        left:70px;
        top:180.05px;
        width: 100px;
    height: 50px;
    border-top-right-radius:5px ;
    border-bottom-left-radius:10px ;
      }
      .bottomChildRec{
        position: absolute;
        background-color: #2D9CDB;
        transform-origin:bottom left;  
        transform: rotate(90deg);
        left: 150px;
        bottom: 120px;
        width: 150px;
        height: 50px;
        border-top-left-radius: 25px;
    
      }  