.registerTitle {
    margin-left: 30px;
    font-size: xx-large;
  }
.signInContainer {
    border: 1px solid #707070;
    padding: 20px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 1;
    width: 50%;
    cursor: pointer;
}
.registerContainer {
    border: 1px solid #707070;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    opacity: 1;
    width: 50%;
    cursor: pointer;
}
.submitContainer{
    width: 100%;
    text-align: center;
    margin-top: 3%;
}
.iconsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    background-color: #A88C6A;
    vertical-align: middle;
    position: absolute;
    left: 68%;
    top: 19%;
}
.iconsContainerRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    background-color: #A88C6A;
    vertical-align: middle;
    position: absolute;
    left: 30%;
    top: 15%;
} 
.copyright {
    color: white;
    display: flex;
    justify-content: center;
    vertical-align: bottom ;
    margin-top: 1%;
}
.logoHeader{
    width: 50px;
    height: 50px;
}
.profileImg{
    width:40px;
    height:40px
}
.logoFooter{
    width: 100px;
    height: auto;
    margin-top: 20px;
}
.footerContainer{
    display: flex;
    justify-content: center
}
